<ul id="nav">
<%= mostra_menu('home', :Home)%>
<%= mostra_menu('pessoas','Pessoas') %>
<%= mostra_menu('notificacoes','Notificações') %>
<%= mostra_menu('administracao', 'Administração')%>
<li class="last"><a href="/logout">Sair</a></li>
</ul>