			<ul id="nav-secondary">
			<li class="active"><a href="#">Cadastros Básicos</a>
				<ul>
					<li><a href="/cidades">Cidades</a></li>
					<li><a href="/cartorios">Cartórios</a></li>
					<li><a href="/entidades">Entidades</a></li>			
					<li><a href="/perfis">Perfís</a></li>					
				</ul>
			</li>

			<li class="active"><a href="#">Metadados</a>
				<ul>
					<li><a href="/categorias">Categorias</a></li>				
					<li><a href="/tipo_campos">Tipos de Campos</a></li>
					<li><a href="/tipo_processos">Tipos de Processos</a></li>
					<li><a href="/tipo_processos">Tipos de Documentos</a></li>
				</ul>
			</li>

			<li class="active"><a href="/configuracoes">Configurações</a></li>	
			</ul>
