
<!-- Search -->
<form action="#" method="get" id="search">
	<fieldset>
		<legend>Busca</legend>

		<p><input type="text" size="17" name="" class="input-text" />&nbsp;<input type="submit" value="OK" class="input-submit-02" /><br />
		<a href="javascript:toggle('search-options');" class="ico-drop">Busca Avançada</a></p>

		<!-- Advanced search -->
		
		<div id="search-options" style="display:none;">

			<p>
				<label><input type="checkbox" name="" checked="checked" /> Option I.</label><br />
				<label><input type="checkbox" name="" /> Option II.</label><br />
				<label><input type="checkbox" name="" /> Option III.</label>
			</p>

		</div> <!-- /search-options -->

	</fieldset>
</form>

<!-- Create a new project -->
<p id="btn-create" class="box"><a href="/cartorios/new"><span>Novo Cartório</span></a></p>
