<h1>Tipo de Documento</h1>
<p>
  <b>Descrição:</b>
  <%=h @tipo_de_documento.descricao %>
</p>


<%= link_to 'Editar', edit_tipo_de_documento_path(@tipo_de_documento) %> |
<%= link_to 'Voltar', tipos_de_documento_path %>
