<h1>Modelo de Notificação</h1>
<p>
  <b>Descricao:</b>
  <%=h @modelo_de_notificacao.descricao %>
</p>

<p>
  <b>Texto:</b>
  <table>
   <tr><td>
     <%= @modelo_de_notificacao.texto %>
   </td></tr>
  </table>
</p>


<%= link_to 'Editar', edit_modelo_de_notificacao_path(@modelo_de_notificacao) %> |
<%= link_to 'Voltar', modelos_de_notificacao_path %>
