<h1>Cadastro de certidaos</h1>


<br/>
<div dojoType="dijit.layout.TabContainer" style="width: 100%; height: 300px;"
tabStrip="true">
    <div dojoType="dijit.layout.ContentPane" title="Pendentes" selected="true">
		<%= render 'lista', :certidoes => @certidoes_pendentes %>
    </div>
    <div dojoType="dijit.layout.ContentPane" title="Emitidas">
        <%= render 'lista', :certidoes => @certidoes_emitidas %>
    </div>

</div>



<br />

<%= link_to 'Novo certidao', new_certidao_path %>


<script type="text/javascript" src="/javascripts/dojo/dojo.js" djConfig="parseOnLoad: true"></script>
<script type="text/javascript">
    dojo.require("dijit.layout.TabContainer");
    dojo.require("dijit.layout.ContentPane");
</script>
