<p>
  <b>Documento:</b>
  <%=h @certidao.documento_id %>
</p>

<p>
  <b>Numero:</b>
  <%=h @certidao.numero %>
</p>


<%= link_to 'Edit', edit_certidao_path(@certidao) %> |
<%= link_to 'Back', certidaos_path %>