<p>
  <b>Descricao:</b>
  <%=h @tipo_de_notificacao.descricao %>
</p>

<p>
  <b>Modelo de notificacao:</b>
  <%=h @tipo_de_notificacao.modelo_de_notificacao_id %>
</p>


<%= link_to 'Edit', edit_tipo_de_notificacao_path(@tipo_de_notificacao) %> |
<%= link_to 'Back', tipos_de_notificacao_path %>