<div class="normal_form">
  <div class="form_titulo">
    &nbsp;
  </div>
<% form_for(@certidao) do |f| %>
  <%= f.error_messages %>

  <label>
    <b>documento_id </b>
    <%= f.text_field :documento_id %>
  </label>
  <label>
    <b>numero </b>
    <%= f.text_field :numero %>
  </label>
  <p class="form_bar">
    <%= f.submit 'Salvar' %>
  </p>
<% end %>
</div>

