<p>
  <b>Cnpj:</b>
  <%=h @conveniado.cnpj %>
</p>

<p>
  <b>Nome:</b>
  <%=h @conveniado.nome %>
</p>


<%= link_to 'Edit', edit_conveniado_path(@conveniado) %> |
<%= link_to 'Back', conveniados_path %>