<h1>Cadastro de cartorios</h1>

<div dojoType="dijit.layout.TabContainer" style="width: 100%; height: 350px;"
tabStrip="true">
    <div dojoType="dijit.layout.ContentPane" title="Pesquisar" selected="true">
		<%= render 'lista' %>
    </div>
    <% if usuario_irtd? %>
    <div dojoType="dijit.layout.ContentPane" title="Novo Cartório" selected="true">
		<%= render 'form' %>
    </div>
    <% end %>

</div>




<script type="text/javascript" src="/javascripts/dojo/dojo.js" djConfig="parseOnLoad: true"></script>
<script type="text/javascript">
    dojo.require("dijit.layout.TabContainer");
    dojo.require("dijit.layout.ContentPane");
</script>



