<!-- Begin Footer1  -->
<div id="footer1">
  
<div id="footer1content">
    
<div id="corporateinfo">
<div style="width: 60px; float: left;"><img src="/images/icon5.png" alt="" height="50" width="48" /></div>

    
<div style="width: 220px; float: left;">
<h5>Corporate Info</h5>
Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse
molestie consequat, vel illum dolore eu feugiat nula facilisis at vero
eros et accumsan et iusto odio dignissim qui blandit praesent luptatum
zzril.</div>
</div>

    
<div id="recentnews">
      
<div style="width: 60px; float: left;"><img src="/images/icon5_.png" alt="" height="50" width="49" /></div>

    
<div style="width: 220px; float: left;">
      
<h5>Recent News</h5>

    &bull; <a href="#">Autem vel eum iriure dolor in henderit</a><br />

    &bull; <a href="#">Vel illum dolore eu feugiat nula</a><br />

    &bull;  <a href="#">Facilisis at vero eros et accumsan et</a><br />

    &bull;  <a href="#">Lusto odio dignissim qui blandit</a><br />

    &bull;     <a href="#">Praesent luptatum zzril in vulputate</a><br />

    &bull; <a href="#">Velit esse molestie consequat.</a></div>
</div>

    
<div id="connect">
      
<h5>Connect With Us</h5>

      <br />
<img src="/images/icon6.png" alt="" class="leftimage" height="49" width="39" /><img src="/images/icon7.png" alt="" class="leftimage" height="49" width="46" /><img src="/images/icon8.png" alt="" class="leftimage" height="49" width="52" /><img src="/images/icon9.png" alt="" class="leftimage" height="49" width="34" /> </div>

  </div>

</div>

<!-- End Footer1  -->

<!-- Begin Footer2  -->
<div id="footer2">
  
<div id="footer2content">
    
<div style="width: 300px; float: left;">&copy; Copyright Buzto Comp. All Rights Reserved </div>
<div style="width: 400px; float: right; text-align: right;">&bull;  <a href="index.html">Home</a> &bull;  <a href="about.html">About</a> &bull;  <a href="services.html">Services</a> &bull;  <a href="events.html">Events</a> &bull;  <a href="contacts.html">Contacts</a></div>
</div>

</div>
