<div id="nav">
    <ul class="lavaLampWithImage" id="1">
        <li class="current"><a href="/site">Home</a></li>
        <li><a href="/site/about">O IRTDPJ</a></li>
        <li><a href="/site/services">Servi&ccedil;os</a></li>
        <li><a href="/site/events">FAQ</a></li>
        <li><a href="/site/contacts">Contato</a></li>
    </ul>
</div>
