<div id="container2">
<div id="wrapper"><!-- Begin Top Bar -->
<div id="topbar">

  <!-- Begin LavaLamp Navigation  -->
    <%= render :partial => "site/menu_site" %>
  <!-- End LavaLamp Navigation  -->

</div>

<!-- End Top Bar -->
<!-- Begin Header -->
<div id="header2">
<h6>Fale Conosco</h6>

</div>

<!-- End Header -->
<!-- Begin Content -->
<div id="content">
<div id="welcome">
<h2>Sempre Servir... </h2>

<p>Duis autem vel eum iriure dolor in hendrerit in vulputate
velit esse molestie consequat, vel illum dolore eu feugiat nula
facilisis at vero eros et accumsan et iusto odio dignissim qui blandit
praesent luptatum zzril. Nam liber tempor cum soluta nobis eleifend
option congue nihil imperdie. doming id quod. mazim placerat facer
possim assum vel eum iriure dolor in hendrerit in vulputate velit esse
molestie cons. Equat, vel illum dolore eu feugiat nulla facilisis at
vero autem vel eum iriure dolor in hendrerit in vulputate. Duis autem
vel eum iriure dolor in hendrerit in vulputate velit esse molestie
consequat, autem vel eum iriure dolor in hendrerit in vulputate velit
esse molestie consequat, vel illum dolore eu feugiat nula facilisis at
vero eros et accumsan et iusto odio dignissim qui blandit praesent
luptatum zzril. <br />

<br />

</p>

<div id="contact"><label>Seu Nome</label> <input name="name" id="name" type="text" /> <br />

<label>Seu Email</label> <input name="email" id="email" type="text" /> <br />

<label>Mensagem</label> <textarea name="message" rows="5" wrap="virtual" id="message"></textarea>
<br />

<label></label> <input src="/images/send.gif" type="image" /> </div>

</div>

<div id="latestnews">
<h1>Endere&ccedil;os</h1>

<p><span class="smalltitle">Opera&ccedil;&otilde;es</span><br />
Av. Treze de Maio, &nbsp;1349 - 9o. andar<br />
Rio de Janeiro - RJ <br />
Fone: (21) 1800 88 8888<br />

Fax: (21) 1800 99 9999<br />

duvidas@documentos.net.br</p>

<p><span class="smalltitle">Sede</span><br />
Av. Historiador Rubens de <br />
Mendon&ccedil;a, &nbsp;2000 - 9o. andar<br />
S&atilde;o Paulo - SP&nbsp;<br />
Fone: (11) 1800 88 8888<br />

Fax: (11) 1800 99 9999<br />

contato@documentos.net.br</p>

</div>

</div>

<!-- End Content -->
</div>

</div>


<%= render :partial => "site/footer" %>
