<div id="container2">
<div id="wrapper">
  <!-- Begin Top Bar  -->
<div id="topbar">

  <!-- Begin LavaLamp Navigation  -->
    <%= render :partial => "site/menu_site" %>
  <!-- End LavaLamp Navigation  -->
  
</div>

<!-- End Top Bar  -->

<!-- Begin Header  -->
<div id="header2">
  
<h6>FAQ</h6>

</div>

<!-- End Header  -->

<!-- Begin Content  -->
<div id="content">
<div id="welcome">
    
<h2>Esclare&ccedil;a suas principais d&uacute;vidas    </h2>

    
<p>Conteúdo em desenvolvimento</p>

    <span class="blacktitle">Lista de dúvidas</span><br />

    <br />

<div style="width: 250px; float: left; margin-right: 40px;">&bull; Conteúdo em desenvolvimento.<br />

  &bull; Conteúdo em desenvolvimento.<br />

  &bull; Conteúdo em desenvolvimento.<br />

  &bull; Conteúdo em desenvolvimento.<br />

  &bull; Conteúdo em desenvolvimento.<br />

  &bull; Conteúdo em desenvolvimento.<br />

  &bull; Conteúdo em desenvolvimento. <br />

  &bull; Conteúdo em desenvolvimento.<br />

  &bull; Conteúdo em desenvolvimento.<br />

  &bull; Conteúdo em desenvolvimento</div>
<div style="width: 250px; float: left; margin-right: 20px;">&bull; Conteúdo em desenvolvimento.<br />

  &bull; Conteúdo em desenvolvimento.<br />

  &bull; Conteúdo em desenvolvimento.<br />

  &bull; Conteúdo em desenvolvimento.<br />

  &bull; Conteúdo em desenvolvimento.<br />

  &bull; Conteúdo em desenvolvimento.<br />

  &bull; Conteúdo em desenvolvimento. <br />

  &bull; Conteúdo em desenvolvimento.<br />

  &bull; Conteúdo em desenvolvimento.<br />

  &bull; Conteúdo em desenvolvimento</div>

</div>

  
<div id="latestnews">
    
<h1>Benef&iacute;cios</h1>

    
<p><img src="/images/pic04.gif" alt="" height="122" vspace="5" width="220" /><br />
 
      <span class="smalltitle">Conteúdo em desenvolvimento</span>
Conteúdo em desenvolvimento.</p>

    
<p><img src="/images/pic05.gif" alt="" height="122" vspace="5" width="220" /><br />

      <span class="smalltitle">Conteúdo em desenvolvimento</span>
Conteúdo em desenvolvimento.</p>

    
<p><img src="/images/pic06.gif" alt="" height="122" vspace="5" width="220" /><br />

      <span class="smalltitle">Conteúdo em desenvolvimento</span> Conteúdo em desenvolvimento.</p>

  </div>

</div>

<!-- End Content  -->
</div>

</div>


<%= render :partial => "site/footer" %>
