
        <!-- Begin Header  -->
        <div id="header">
            <div id="slider">
  		    <ul>
		    <li><a href="#"><img src="/images/header1.jpg" alt="" border="0" /></a></li>
                    <li><a href="#"><img src="/images/header2.jpg" alt="" border="0" /></a></li>
                    <li><a href="#"><img src="/images/header3.jpg" alt="" border="0" /></a></li>
	            </ul>
            </div>
        </div>
        <!-- End Header  -->

        <!-- Begin Icon Bar  -->
        <div id="iconbar">
            <div class="iconbox" style='text-align: justify;width: 192px'>
                <div style="border: 2px solid #ccc; width: 192px; height: 60px">
                    <img style="padding: 3px 11px" src="/images/notificacao.png" width="165">
                </div>
                <span class="smalltitle">Fa&ccedil;a suas notifica&ccedil;&otilde;es na web</span>&nbsp; Escolha um modelo e envie agora sua notifica&ccedil;&atilde;o
                <span class="smalltitle" style='float: right'><br/> <a href="#">Mais</a>
                <img width="11" height="10" alt="" src="/images/arrow.png"> </span>
            </div>
            <div class="iconline"></div>

            <div class="iconbox"  style='text-align: justify;width: 206px'>
                <div style="border: 2px solid #ccc; width: 206px; height: 60px">
                    <img style="padding: 6px 8px" src="/images/2viadocumentos.png" width="180">
                </div>
                <span class="smalltitle">Nunca &nbsp;perca seus documentos</span> Segunda via dos seus documentos registrados na hora e com valor de original.
                <span class="smalltitle"  style='float: right'><a href="#">Mais</a>
                <img src="/images/arrow.png" alt="" height="10" width="11" /></span>
            </div>
            <div class="iconline"></div>
            
            <div class="iconbox" style='width: 192px'>
                <div style="border: 2px solid #ccc; width: 192px; height: 60px">
                   <img src="/images/validar.png" style="padding: 1px 2px">
                </div>
                <% form_tag('/documentos/verificar') do -%>
                   <div style="font-weight: bold; color: #4C7C15; padding: 5px 20px">
                         No. Selo: &nbsp;  <input type="text" name="selo" id="selo" style='width: 145px;'>
                         <input type="submit" value="Consultar" name="commit" style='float: right; '>
                   </div>
                <% end %> 
            </div>
            <div class="iconline"></div>
     
            <div class="iconbox" style='color: #4C7C15; width: 220px'>
                <div style="border: 2px solid #CCCCCC; height: 60px; margin-bottom: 5px; width: 209px;">
                   <img src="/images/areadocliente.png" style="padding: 6px 10px">
                </div>
                <% form_tag conta_path do -%>
                <div style="font-weight: bold;">
                      CPF/CNPJ: <%= text_field_tag 'login', @login, :style=>'width: 138px' %></div>
                <div style="font-weight: bold; margin: 5px 0">
                      Chave: <%= password_field_tag 'password', nil , :style=>'margin-left: 22px; width: 138px'%>
                </div> 
                <div style='text-align: right; margin-right: 10px'> <%= submit_tag 'Entrar' %></div>
                <% end -%>
            </div>
        </div>
        <!-- End Icon Bar  -->

<!-- Begin Content  -->
<div id="content" style='padding: 5px 25px'>
    <div id="welcome">
        <h1 style='color: #467711'><b>Bem vindo ao Portal de Documentos</b></h1> 
        <div style='color:#1c1c1c;font-size: 18px;'>
             Seu cart&oacute;rio de T&iacute;tulos e Documentos na internet
        </div>


    </div>
     
    <div id="latestnews">
        <h1 style='font-size: 26px'>&Uacute;ltimas Not&iacute;cias</h1>
        <h4 style='color: #467711'>O que est&aacute; acontecendo</h4>                                                                                
        <p style='height: 65px'>
             <img src="/images/Graciano_Pinheiro_de_Siqueira.png" alt="" class="newsimage" vspace="5" />
             <span class="smalltitle">Da participação de incapaz em sociedade</span><br/> O Presente trab ...
             <span class="smalltitle" style='float: right'> 
                  <a href="http://www.irtdpjbrasil.com.br/DaParticipacaoDeIncapazEmSociedade.htm">Mais</a>
                  <img src="/images/arrow.png" alt="" height="10" width="11" />
             </span>
        </p>

        <p>
             <img src="/images/pic02.gif" alt="" class="newsimage" vspace="5" />
             <span class="smalltitle">Conteúdo 2</span>
                                      em desenvolvimento.
             <span class="smalltitle"> <a href="#">Mais</a></span>
                                       <img src="/images/arrow.png" alt="" height="10" width="11" />
        </p>
    </div>
</div>
<!-- End Content  -->
