<tbody><tr>
      <td><span lang="PT-BR"><font color="#ff0000" size="7">
      <p dir="LTR" style="margin-top: 0pt; margin-bottom: 0pt; margin-top: 40px" align="center">
      <font face="Arial"><h2 style="color:#467711 " align='center'>Da participação de incapaz (menor) em  sociedade</font></p></h2>
      <hr color="#467711" size="4" width="85%"></font></span></td>
    </tr>

    <tr>
<td><div lang="PT-BR" style="width: 880px; margin-left: 25px"><font face="Arial"><font face="Arial">
<p dir="LTR" style="text-indent: 50px; margin-top: 0pt; margin-bottom: 0pt;" align="RIGHT">
<i>Graciano Pinheiro de Siqueira</i></p>
<p dir="LTR" style="text-indent: 50px; margin-top: 0pt; margin-bottom: 0pt;" align="RIGHT">&nbsp;</p>
<p dir="LTR" style="text-indent: 50px; margin-top: 0pt; margin-bottom: 0pt;" align="RIGHT">&nbsp;</p>
</font>
<p dir="LTR" style="text-indent: 50px; margin-top: 0pt; margin-bottom: 0pt;" align="JUSTIFY">

<font face="Arial">O presente trabalho é resultado de representação 
formulada pelo Ministério Público do Trabalho<img src="/images/Graciano.jpg" align="right" border="0" height="232" width="250" style='padding-bottom: 15px; padding-left: 15px'>, 
encaminhada à Egrégia Corregedoria Geral da Justiça (fls. 2), e desta para 
a 1ª. Vara de Registros Públicos da Capital/SP, que, na qualidade de Juízo 
Corregedor Permanente do 4º Oficial de Registro de Títulos e Documentos e 
Civil de Pessoa Jurídica, cargo do qual, até o momento, somos o designado 
para por ele responder, solicitou-nos informação a respeito do registro 
(lato senso) de uma alteração de contrato social, efetuado no ano de 2008, 
a qual foi, com fulcro nos argumentos abaixo, devidamente prestada, no 
processo nº 0036419-30.2011.8.26.0100, cuja decisão transcrevemos no 
final.</font></p>
<p dir="LTR" style="text-indent: 50px; margin-top: 0pt; margin-bottom: 0pt;" align="JUSTIFY">
<font face="Arial">Segundo o representante do Ministério Público do 
Trabalho, aludida alteração contratual, em face da admissão, no quadro de 
sócios, de menor impúbere, teria sido elaborada "ao arrepio das normas 
específicas aplicáveis à espécie, a saber: Artigo 974 Código Civil 
vigente: </font></p>
<p dir="LTR" style="text-indent: 50px; margin-top: 0pt; margin-bottom: 0pt;" align="JUSTIFY">
<i><font face="Arial">"Poderá o incapaz, por meio de representante ou 
devidamente assistido, continuar a empresa antes exercida por ele enquanto 
capaz, por seus pais ou pelo autor da herança.</font></i></p>
<p dir="LTR" style="text-indent: 50px; margin-top: 0pt; margin-bottom: 0pt;" align="JUSTIFY">
<font face="Arial"><i>Parágrafo 1º - Nos casos deste artigo, precederá 
autorização judicial, após exame das circunstâncias e dos riscos da 
empresa, bem como da conveniência em continuá-la, podendo a autorização 
ser revogada pelo juiz, ouvidos os pais, tutores ou representantes legais 
do menor ou do interdito, sem prejuízo dos direitos adquiridos por 
terceiros"</i>, concluindo ser o ato jurídico nulo pleno jure, já que a 
entrada da menor, na sociedade, se deu sem a mencionada autorização 
judicial.</font></p>

<p dir="LTR" style="text-indent: 50px; margin-top: 0pt; margin-bottom: 0pt;" align="JUSTIFY">
<font face="Arial">Ocorre, entretanto, que os dispositivos do Código 
Civil, supra citados, dirigem-se ao empresário individual, e não à 
sociedade, o que se vê, claramente, da redação da norma, não fosse 
suficiente o fato de estar ela inserida no capítulo relativo à capacidade 
do empresário, e dizem respeito a uma situação específica, qual seja, a da 
possibilidade, excepcional, de o empresário incapaz exercer empresa 
(atividade econômica organizada para a produção ou circulação de bens e 
prestação de serviços) nos casos de incapacidade superveniente ou 
incapacidade do sucessor na sucessão por morte, conforme, inclusive, 
Enunciado nº 203 do Conselho da Justiça Federal, aprovado na III Jornada 
de Direito Civil.</font></p>
<p dir="LTR" style="text-indent: 50px; margin-top: 0pt; margin-bottom: 0pt;" align="JUSTIFY">
<font face="Arial">Efetivamente, pode ocorrer que o pai ou a mãe do menor 
sejam empresários (individuais) e que, em determinado momento, não mais 
possam ou queiram continuar com sua empresa. De fato, pode qualquer deles 
ser atingido por uma incapacidade superveniente ou falecer ou, ainda, ter 
de abandonar o empreendimento por qualquer motivo, como na opção de 
assumir um cargo público que lhe traz impedimento, etc... Situação 
semelhante verifica-se quando falece um parente do qual o menor é único 
herdeiro.</font></p>
<p dir="LTR" style="text-indent: 50px; margin-top: 0pt; margin-bottom: 0pt;" align="JUSTIFY">
<font face="Arial">Se qualquer desses eventos ocorrer e não houver quem 
tenha condições de dar prosseguimento à empresa, pode o menor, como 
qualquer outro incapaz, "por meio de representante ou devidamente 
assistido, continuar a empresa antes exercida (...) por seus pais ou pelo 
autor da herança", observadas as mesmas condições previstas nos parágrafos 
1º e 2º do art. 974 do Código Civil. Neste sentido, os comentários ao 
referido art. 974, feitos tanto por Ricardo Fiúza, na obra "Novo Código 
Civil Comentado", 2002, Editora Saraiva, 1ª. Edição, 2ª. Tiragem, p. 880, 
como por Alfredo de Assis Gonçalves Neto, na obra "Direito de Empresa – 
Comentários aos artigos 966 a 1.195 do Código Civil", 2007, Editora 
Revista dos Tribunais, págs. 89 a 92.</font></p>
<p dir="LTR" style="text-indent: 50px; margin-top: 0pt; margin-bottom: 0pt;" align="JUSTIFY">

<font face="Arial">Circunstância diversa é a relacionada ao ingresso de 
incapaz, incluindo aí o menor, púbere ou impúbere, em sociedade, por causa 
mortis (herança de quotas) ou por ato inter vivos (doação ou alienação de 
quotas), assunto este que já rendeu muita discussão, mas que, 
hodiernamente, está pacificado, notadamente a partir da <i>"Talvez a mais 
importante decisão do STF, no último período de trinta anos, na matéria 
relacionada com o direito societário, foi a que resultou na liberação para 
a participação de menores de idade nas sociedades por quotas de 
responsabilidade limitada"</i> (Problemas das Sociedades Limitadas e 
Soluções da Jurisprudência, LED Editora de Direito, 1997, p. 25, Luiz 
Antonio Soares Hentz).</font></p>
<p dir="LTR" style="text-indent: 50px; margin-top: 0pt; margin-bottom: 0pt;" align="JUSTIFY">
<font face="Arial">Eis o leading case: </font></p>
<p dir="LTR" style="text-indent: 50px; margin-top: 0pt; margin-bottom: 0pt;" align="JUSTIFY">
<font face="Arial">Denegou a Junta Comercial do Estado de São Paulo o 
arquivamento de alteração contratual, segundo a qual passavam a integrar 
determinada sociedade por quotas de responsabilidade limitada dois 
menores, filhos do principal quotista, estando o capital inteiramente 
realizado e vedado aos menores-quotistas os poderes de administração e 
gerência.</font></p>
<p dir="LTR" style="text-indent: 50px; margin-top: 0pt; margin-bottom: 0pt;" align="JUSTIFY">

<font face="Arial">Interposto mandado de segurança, com resultado 
favorável nas duas instâncias ordinárias, alçou-se o processo ao Pretório 
Excelso, o qual, a 26 de maio de 1976, sendo relator o Ministro Xavier de 
Albuquerque, confirmou a concessão do mandamus. E fê-lo, à unanimidade, em 
Sessão Plenária, fundado nas lições de João Eunápio Borges, Plácido e 
Silva, Pedro Barbosa Pereira e Cunha Peixoto, tendo o acórdão a seguinte 
ementa: "Sociedade por Quotas, de responsabilidade limitada. Participação 
de menores, com capital integralizado e sem poderes de gerência e 
administração, como quotistas. Admissibilidade reconhecida, sem ofensa ao 
art. 1º do Código Comercial" (Revista Trimestral de Jurisprudência, vol. 
78, p. 608. O acórdão do 1º Tribunal de Alçada Civil de S.Paulo está 
publicado in RT 471/132). No mesmo sentido, pode ser conferido o 
julgamento unânime do STF, por seu Pleno, no Recurso Extraordinário nº 
82433-SP (DJU, seção I, de 08/07/76, pág. 5.129).</font></p>
<p dir="LTR" style="text-indent: 50px; margin-top: 0pt; margin-bottom: 0pt;" align="JUSTIFY">
<font face="Arial">No tocante à realização do capital social, tal 
exigência se justifica, pois, uma vez integralizadas as quotas sociais de 
todos os sócios, em princípio, nenhum deles mais poderá ser chamado para 
responder com seus bens pessoais pelas dívidas da sociedade, e essa é uma 
das grandes vantagens apresentadas pelas sociedades limitadas. Mas, mesmo 
que ocorra responsabilização pessoal, esta, por óbvio, somente poderá 
recair naquele que exercer a administração da sociedade, o que em relação 
ao sócio menor é vedado.</font></p>
<p dir="LTR" style="text-indent: 50px; margin-top: 0pt; margin-bottom: 0pt;" align="JUSTIFY">
<font face="Arial">Tamanha repercussão tiveram os julgados que, já em 
novembro de 1976, o DNRC (Departamento Nacional de Registro do Comércio), 
expedia ofício-circular nº 22, expressamente determinando a todas as 
Juntas Comerciais do País sua integral observância, verbis:</font></p>
<p dir="LTR" style="text-indent: 50px; margin-top: 0pt; margin-bottom: 0pt;" align="JUSTIFY">
<font face="Arial"><i>"Tendo em vista que a jurisprudência é fonte de lei 
e como as decisões do STF a tornam exigível aos casos análogos, entende o 
DNRC que, doravante, as Juntas Comerciais devem aceitar e deferir os 
contratos sociais onde figurem menores impúberes, desde que as suas cotas 
estejam integralizadas e não constem nos contratos sociais atribuições aos 
mesmos, relativos à gerência e administração"</i> (sic).</font></p>

<p dir="LTR" style="text-indent: 50px; margin-top: 0pt; margin-bottom: 0pt;" align="JUSTIFY">
<font face="Arial">O ofício-circular ,vê-se hialinamente, procurou 
sintetizar a veneranda decisão de nossa mais Alta Corte, tanto que, 
referindo-se o julgamento a menores impúberes, o adjetivo foi nele 
repetido, em flagrante ilogicidade, dando azo a que se concluísse que os 
menores púberes estariam impedidos de adquirir o status de sócio das 
limitadas.</font></p>
<p dir="LTR" style="text-indent: 50px; margin-top: 0pt; margin-bottom: 0pt;" align="JUSTIFY">
<font face="Arial">Embora acabasse não sendo essa a conclusão das Juntas, 
o equívoco, no entanto, somente foi corrigido com a edição, pelo mesmo 
DNRC, da Instrução Normativa nº 29, de 19 de abril de 1991, do seguinte 
teor:</font></p>
<p dir="LTR" style="text-indent: 50px; margin-top: 0pt; margin-bottom: 0pt;" align="JUSTIFY">
<i><font face="Arial">"Art. 17 – O arquivamento de atos de sociedades por 
quotas de responsabilidade limitada, da qual participam menores, será 
procedido pelo órgão de registro, desde que:</font></i></p>
<p dir="LTR" style="text-indent: 50px; margin-top: 0pt; margin-bottom: 0pt;" align="JUSTIFY">

<i><font face="Arial">I- o capital da sociedade esteja totalmente 
integralizado, tanto na constituição, como nas alterações contratuais;</font></i></p>
<p dir="LTR" style="text-indent: 50px; margin-top: 0pt; margin-bottom: 0pt;" align="JUSTIFY">
<i><font face="Arial">II- não seja atribuído ao menor quaisquer poderes de 
gerência ou administração;</font></i></p>
<p dir="LTR" style="text-indent: 50px; margin-top: 0pt; margin-bottom: 0pt;" align="JUSTIFY">
<font face="Arial"><i>III- o sócio menor seja representado ou assistido, 
conforme o caso"</i>.</font></p>
<p dir="LTR" style="text-indent: 50px; margin-top: 0pt; margin-bottom: 0pt;" align="JUSTIFY">
<font face="Arial">Ainda que revogada a referida IN nº 29 pela IN nº 46, 
de 06/03/1996, o certo é que a posição do DNRC quanto ao tema continua 
sendo a mesma até o presente momento, bastando, para tanto, verificar a IN 
nº 98, de 23/12/2003, que trata do Manual de Atos de Registro da Sociedade 
Limitada, em seus itens 1.2.16.5 e 1.2.23.7, que assim dispõem:</font></p>

<p dir="LTR" style="text-indent: 50px; margin-top: 0pt; margin-bottom: 0pt;" align="JUSTIFY">
<i><font face="Arial">"1.2.16.5 – Sócio menor de 18 anos, não emancipado</font></i></p>
<p dir="LTR" style="text-indent: 50px; margin-top: 0pt; margin-bottom: 0pt;" align="JUSTIFY">
<i><font face="Arial">Participando da sociedade sócio menor, não 
emancipado, o capital social deverá estar totalmente integralizado, e este 
não pode fazer parte da administração.</font></i></p>
<p dir="LTR" style="text-indent: 50px; margin-top: 0pt; margin-bottom: 0pt;" align="JUSTIFY">
<i><font face="Arial">1.2.23.7 – Sócio menor de 18 anos, não emancipado</font></i></p>
<p dir="LTR" style="text-indent: 50px; margin-top: 0pt; margin-bottom: 0pt;" align="JUSTIFY">

<i><font face="Arial">Não poderão ser atribuídos ao sócio menor de 18 
anos, não emancipado, poderes de administração."</font></i></p>
<p dir="LTR" style="text-indent: 50px; margin-top: 0pt; margin-bottom: 0pt;" align="JUSTIFY">
<font face="Arial">A própria JUCESP tem dois Enunciados sobre a matéria (8 
e 9), com a seguinte redação:</font></p>
<p dir="LTR" style="text-indent: 50px; margin-top: 0pt; margin-bottom: 0pt;" align="JUSTIFY">
<i><font face="Arial">"8 - Administração – sócio menor</font></i></p>
<p dir="LTR" style="text-indent: 50px; margin-top: 0pt; margin-bottom: 0pt;" align="JUSTIFY">
<i><font face="Arial">O sócio menor, não emancipado, não pode ser 
administrador de sociedade.</font></i></p>

<p dir="LTR" style="text-indent: 50px; margin-top: 0pt; margin-bottom: 0pt;" align="JUSTIFY">
<i><font face="Arial">9- Sócios representados e assistidos</font></i></p>
<p dir="LTR" style="text-indent: 50px; margin-top: 0pt; margin-bottom: 0pt;" align="JUSTIFY">
<font face="Arial"><i>Havendo sócio absolutamente ou relativamente 
incapaz, o contrato, na primeira hipótese, deverá ser assinado pelo 
representante legal, na segunda hipótese, pelo sócio e por quem o 
assistir, Código Civil art. 1690"</i>.</font></p>
<p dir="LTR" style="text-indent: 50px; margin-top: 0pt; margin-bottom: 0pt;" align="JUSTIFY">
<font face="Arial">É importante frisar que o menor, ou qualquer outra 
pessoa, por assumirem a condição de sócio, não se tornam empresários. 
Empresária será a sociedade da qual participam.</font></p>
<p dir="LTR" style="text-indent: 50px; margin-top: 0pt; margin-bottom: 0pt;" align="JUSTIFY">

<font face="Arial">Sobre a evolução histórica da questão e a posição 
doutrinária a respeito (pró e contra a participação de menor em 
sociedade), vale a pena verificar a obra "Das Sociedades Limitadas", de 
José Waldecy Lucena, Editora Renovar, 2003, 5ª. Edição, págs. 228 a 232. 
Convém, também, sobre o assunto, conhecer o pensamento dos juristas José 
Edwaldo Tavares Borba e Sérgio Campinho nas obras, respectivamente, 
"Direito Societário", 2004, 9ª. Edição, Editora Renovar, págs. 42 a 45 e 
62, e "O Direito de Empresa à Luz do Novo Código Civil", 2005, 5ª. Edição, 
Editora Renovar, págs. 195 a 198.</font></p>
<p dir="LTR" style="text-indent: 50px; margin-top: 0pt; margin-bottom: 0pt;" align="JUSTIFY">
<font face="Arial">Portanto, com base nas decisões unânimes do STF, as 
Juntas Comerciais, e, por extensão, os Registros Civis das Pessoas 
Jurídicas, vêm, de há muito tempo, aceitando contratos ou alterações 
contratuais com sócios menores, desde que presentes os pressupostos 
indicados pelo Tribunal, e, com o advento da recentíssima Lei nº 12.399, 
de 1º de abril de 2011, deverão fazê-lo com muito mais razão, eis que a 
novel legislação acrescentou, ao artigo 974 do Código Civil, o parágrafo 
3º, com o seguinte teor:</font></p>
<p dir="LTR" style="text-indent: 50px; margin-top: 0pt; margin-bottom: 0pt;" align="JUSTIFY">
<i><font face="Arial">"Art. 974....</font></i></p>
<p dir="LTR" style="text-indent: 50px; margin-top: 0pt; margin-bottom: 0pt;" align="JUSTIFY">
<i><font face="Arial">Parágrafo 3º O Registro Público de Empresas 
Mercantis a cargo das Juntas Comerciais deverá registrar contratos ou 
alterações contratuais de sociedade que envolva sócio incapaz, desde que 
atendidos, de forma conjunta, os seguintes pressupostos:</font></i></p>

<p dir="LTR" style="text-indent: 50px; margin-top: 0pt; margin-bottom: 0pt;" align="JUSTIFY">
<i><font face="Arial">I- o sócio incapaz não pode exercer a administração 
da sociedade;</font></i></p>
<p dir="LTR" style="text-indent: 50px; margin-top: 0pt; margin-bottom: 0pt;" align="JUSTIFY">
<i><font face="Arial">II- o capital social deve ser totalmente 
integralizado;</font></i></p>
<p dir="LTR" style="text-indent: 50px; margin-top: 0pt; margin-bottom: 0pt;" align="JUSTIFY">
<i><font face="Arial">III- o sócio relativamente incapaz deve ser 
assistido e o absolutamente incapaz deve ser representados por seus 
representantes legais."</font></i></p>
<p dir="LTR" style="text-indent: 50px; margin-top: 0pt; margin-bottom: 0pt;" align="JUSTIFY">

<font face="Arial">Evidentemente, em se tratando de uma sociedade de 
natureza simples, a mesma regra deverá ser observada pelo RCPJ.</font></p>
<p dir="LTR" style="text-indent: 50px; margin-top: 0pt; margin-bottom: 0pt;" align="JUSTIFY">
<font face="Arial">Note-se que aquilo que já estava consagrado pela 
doutrina e pela jurisprudência foi incorporado, pelo legislador, no 
ordenamento jurídico pátrio, sendo oportuno destacar que, em nenhum 
momento, para o ingresso de incapaz em sociedade, e, em especial, do 
menor, se falou em autorização judicial.</font></p>
<p dir="LTR" style="text-indent: 50px; margin-top: 0pt; margin-bottom: 0pt;" align="JUSTIFY">
<font face="Arial">De todo o exposto, tem-se que o registro efetuado pela 
serventia é, contrariando o entendimento do parquet, perfeitamente válido 
e eficaz, estando em plena consonância com o direito, eis que realizado 
com rigorosa observância dos requisitos acima mencionados.</font></p>
<p dir="LTR" style="text-indent: 50px; margin-top: 0pt; margin-bottom: 0pt;" align="JUSTIFY">
<font face="Arial">Cabe observar que a sociedade, em razão da sua última 
averbação, efetivada em 2009, mudou sua natureza, de simples para 
empresária, deslocando seus registros para a JUCESP.</font></p>

<p dir="LTR" style="text-indent: 50px; margin-top: 0pt; margin-bottom: 0pt;" align="JUSTIFY">
<font face="Arial">A recente decisão, de 10 de outubro de 2011, abraçou, 
integralmente, nosso raciocínio sobre o tema, sendo do seguinte teor:</font></p>
<p dir="LTR" style="text-indent: 50px; margin-top: 0pt; margin-bottom: 0pt;" align="JUSTIFY">
<i><font face="Arial">"Processo nº: 0036419-30.2011.8.26.0100 – Pedido de 
Providências </font></i></p>
<p dir="LTR" style="text-indent: 50px; margin-top: 0pt; margin-bottom: 0pt;" align="JUSTIFY">
<i><font face="Arial">Requerente: Corregedoria Geral da Justiça</font></i></p>
<p dir="LTR" style="text-indent: 50px; margin-top: 0pt; margin-bottom: 0pt;" align="JUSTIFY">

<i><font face="Arial">Conclusão</font></i></p>
<p dir="LTR" style="text-indent: 50px; margin-top: 0pt; margin-bottom: 0pt;" align="JUSTIFY">
<i><font face="Arial">Em 29.09.2011, faço estes autos conclusos ao MM. 
Juiz Gustavo Henrique Bretas Marzagão. Eu,_______, esc., subs.</font></i></p>
<p dir="LTR" style="text-indent: 50px; margin-top: 0pt; margin-bottom: 0pt;" align="JUSTIFY">
<i><font face="Arial">VISTOS.</font></i></p>
<p dir="LTR" style="text-indent: 50px; margin-top: 0pt; margin-bottom: 0pt;" align="JUSTIFY">
<i><font face="Arial">Cuida-se de expediente encaminhado pela E. 
Corregedoria Geral da Justiça contendo representação formulada pelo 
Ministério Público do Trabalho contra o 4º Oficial de Registro de Títulos 
e Documentos e Civil de Pessoa Jurídica nos autos da reclamação 
trabalhista nº 00359-2009-072-02-00-6, da E. 72ª. Vara do Trabalho.</font></i></p>

<p dir="LTR" style="text-indent: 50px; margin-top: 0pt; margin-bottom: 0pt;" align="JUSTIFY">
<i><font face="Arial">Aduz o Ministério Público do Trabalho que a menor 
impúbere Suzanna Heinze foi inserida na sociedade empresarial reclamada 
naquela ação trabalhista ao arrepio do art. 974, parágrafo 1º, do Código 
Civil, na medida em que sem autorização judicial, o que torna nulo de 
pleno direito o ato jurídico na forma do art. 166, I e V, do Código Civil 
(fls. 159/160).</font></i></p>
<p dir="LTR" style="text-indent: 50px; margin-top: 0pt; margin-bottom: 0pt;" align="JUSTIFY">
<i><font face="Arial">O Oficial prestou informações às fls. 167/175.</font></i></p>
<p dir="LTR" style="text-indent: 50px; margin-top: 0pt; margin-bottom: 0pt;" align="JUSTIFY">
<i><font face="Arial">É o relatório. Fundamento e decido.</font></i></p>
<p dir="LTR" style="text-indent: 50px; margin-top: 0pt; margin-bottom: 0pt;" align="JUSTIFY">

<i><font face="Arial">A representação do Ministério Público do Trabalho 
questiona a alteração contratual da empresa S.H. Lavanderia LTDA, 
reclamada e executada nos autos da ação trabalhista nº 
00359-2009-072-02-00-6, da E. 72ª. Vara do Trabalho, por meio da qual foi 
inserida na qualidade de sócia a menor impúbere Suzanna Heinze sem a 
autorização judicial prevista no parágrafo 1º, do art. 974, do Código 
Civil.</font></i></p>
<p dir="LTR" style="text-indent: 50px; margin-top: 0pt; margin-bottom: 0pt;" align="JUSTIFY">
<i><font face="Arial">Exercer empresa é diferente de ser sócio de 
sociedade. A autorização judicial de que cuida o parágrafo 1º, do art. 
974, do Código Civil, diz respeito ao empresário individual e não ao sócio 
de sociedade.</font></i></p>
<p dir="LTR" style="text-indent: 50px; margin-top: 0pt; margin-bottom: 0pt;" align="JUSTIFY">
<i><font face="Arial">Fábio Ulhoa Coelho bem explica a diferença entre o 
empresário individual e a sociedade empresária:</font></i></p>
<p dir="LTR" style="text-indent: 50px; margin-top: 0pt; margin-bottom: 0pt;" align="JUSTIFY">
<i><font face="Arial">"Deve-se desde logo acentuar que os sócios da 
sociedade empresária não são empresários. Quando pessoas (naturais) unem 
seus esforços para, em sociedade, ganhar dinheiro com a exploração 
empresarial de uma atividade econômica, elas não se tornam empresárias. A 
sociedade por elas constituída, uma pessoa jurídica com personalidade 
autônoma, sujeito de direito independente, é que será empresária, para 
todos os efeitos legais. Os sócios da sociedade empresária são 
empreendedores ou investidores, de acordo com a colaboração dada à 
sociedade (os empreendedores, além de capital, costumam devotar também 
trabalho à pessoa jurídica, na condição de seus administradores, ou as 
controlam; os investidores limitam-se a aportar capital). As regras que 
são aplicáveis ao empresário individual não se aplicam aos sócios da 
sociedade empresária – é muito importante apreender isto" (Manual de 
Direito Comercial, Saraiva, 17ª. Ed., págs. 19/21 – grifou-se).</font></i></p>

<p dir="LTR" style="text-indent: 50px; margin-top: 0pt; margin-bottom: 0pt;" align="JUSTIFY">
<i><font face="Arial">E continua:</font></i></p>
<p dir="LTR" style="text-indent: 50px; margin-top: 0pt; margin-bottom: 0pt;" align="JUSTIFY">
<i><font face="Arial">"Em relação às pessoas físicas, o exercício de 
atividade empresarial é vedado em duas hipóteses (relembre-se que não se 
está cuidando, aqui, das condições para uma pessoa física ser sócia de 
sociedade empresária, mas par ser empresária individual). A primeira diz 
respeito à proteção dela mesma, expressa em normas sobre capacidade (CC, 
arts. 972, 974 a 976); a segunda refere-se à proteção de terceiros e se 
manifesta em proibições o exercício da empresa (CC, art. 973). 
(grifou-se)" </font></i></p>
<p dir="LTR" style="text-indent: 50px; margin-top: 0pt; margin-bottom: 0pt;" align="JUSTIFY">
<i><font face="Arial">Mais adiante, ao tratar dos requisitos das 
sociedades contratuais, expõe que: "é importante ressaltar que a 
contratação de sociedade limitada por menor, devidamente representado ou 
assistido, tem sido admitida pela jurisprudência, desde que não tenha 
poderes de administração e o capital social esteja totalmente 
integralizado" (pág. 132).</font></i></p>
<p dir="LTR" style="text-indent: 50px; margin-top: 0pt; margin-bottom: 0pt;" align="JUSTIFY">

<i><font face="Arial">É nesse última situação que se insere o caso em 
exame. De acordo com a cláusula quarta, do contrato social, administração 
da sociedade compete com exclusividade a Paulo Roberto Heinze. O capital 
social está totalmente integralizado (cláusula segunda) e a menor está 
representada por seu pai (cláusula primeira – fls. 63/68).</font></i></p>
<p dir="LTR" style="text-indent: 50px; margin-top: 0pt; margin-bottom: 0pt;" align="JUSTIFY">
<i><font face="Arial">Há tempos o Supremo Tribunal Federal admite que o 
menor seja sócio de sociedade limitada, desde representado ou assistido, 
que o capital social esteja totalmente integralizado, e que não exerça 
atos de administração:</font></i></p>
<p dir="LTR" style="text-indent: 50px; margin-top: 0pt; margin-bottom: 0pt;" align="JUSTIFY">
<i><font face="Arial">"Sociedade por quotas de responsabilidade limitada. 
Participação de menores, com capital integralizado e sem poderes de 
gerência e administração com cotistas. Admissibilidade reconhecida, sem 
ofensa ao art. I do Código Comercial. Recurso Extraordinário não 
conhecido."(RE 82433-SP).</font></i></p>
<p dir="LTR" style="text-indent: 50px; margin-top: 0pt; margin-bottom: 0pt;" align="JUSTIFY">
<i><font face="Arial">Correta, por conseguinte, a qualificação do 4º 
Oficial de Registro de Títulos e Documentos e Civil de Pessoa Jurídica ao 
averbar a alteração contratual questionada pelo Ministério Público Federal 
na presente reclamação, porque inaplicável, na espécie, o parágrafo 1º, do 
art. 974, do Código Civil.</font></i></p>

<p dir="LTR" style="text-indent: 50px; margin-top: 0pt; margin-bottom: 0pt;" align="JUSTIFY">
<i><font face="Arial">É certo que, ao que tudo indica, a alteração 
contratual em questão sugere manobra furtiva de responsabilização frente 
ao credor trabalhista. Contudo, esse fato é de natureza intrínseca do 
título, de modo que não pode ser conhecida por esta Corregedoria 
Permanente, cuja competência limita-se ao exame dos aspectos extrínsecos 
do título, os quais estão em harmonia com o ordenamento jurídico. Assim, a 
anulação da alteração contratual deve ser postulada nas vias ordinárias.</font></i></p>
<p dir="LTR" style="text-indent: 50px; margin-top: 0pt; margin-bottom: 0pt;" align="JUSTIFY">
<i><font face="Arial">Posto isso, não verificada qualquer violação 
funcional na conduta do Oficial de Registro de Títulos e Documentos e 
Civil de Pessoa Jurídica, determino o arquivamento dos autos.</font></i></p>
<p dir="LTR" style="text-indent: 50px; margin-top: 0pt; margin-bottom: 0pt;" align="JUSTIFY">
<i><font face="Arial">Com cópia desta, comunique-se a E. Corregedoria 
Geral da Justiça, e ao MM. Juízo da E. 72ª. Vara do Trabalho.</font></i></p>
<p dir="LTR" style="text-indent: 50px; margin-top: 0pt; margin-bottom: 0pt;" align="JUSTIFY">

<i><font face="Arial">Oportunamente, ao arquivo.</font></i></p>
<p dir="LTR" style="text-indent: 50px; margin-top: 0pt; margin-bottom: 0pt;" align="JUSTIFY">
<i><font face="Arial">P.R.I.C.</font></i></p>
<p dir="LTR" style="text-indent: 50px; margin-top: 0pt; margin-bottom: 0pt;" align="JUSTIFY">
<i><font face="Arial">São Paulo, 10 de outubro de 2011.</font></i></p>
<p dir="LTR" style="text-indent: 50px; margin-top: 0pt; margin-bottom: 0pt;" align="JUSTIFY">
<i><font face="Arial">Gustavo Henrique Bretãs Marzagão</font></i></p>

<p style="text-indent: 50px; margin-top: 0pt; margin-bottom: 0pt;"><i>
<font face="Arial">Juiz de Direito"</font></i></p>
</div></td>
</tr>
<tr>
<td><span lang="PT-BR"><font face="Arial" size="2">
<blockquote>
<blockquote>
  <blockquote>

    <blockquote>
      <p dir="LTR" align="JUSTIFY"><b>O autor:</b> Graciano Pinheiro 
              de Siqueira, 4º Oficial (Designado) de Registro de Títulos e 
              Documentos e Civil de Pessoa Jurídica da Capital/SP, especialista 
              em Direito Comercial pela Faculdade de Direito da USP.</p>
            </blockquote>
          </blockquote>
        </blockquote>
      </blockquote>
      </font></span></td>
    </tr>
<br/>
<br/>
    Fonte: <a href='http://www.irtdpjbrasil.com.br/DaParticipacaoDeIncapazEmSociedade.htm'> IRTDPJ Brasil </a>
  </tbody>
<br/>
<br/>
<br/>
