<table>
	<tr>
		<th>Nome</th>
		<th>Login</th>
		<th></th>
		<th></th>
	</tr>
<% for usuario in @usuarios %>
	<tr>
		<td><%= usuario.nome %></td>
		<td><%= usuario.login %></td>
	    <td><%= link_to 'Editar', edit_usuario_path(usuario) %></td>
	    <td><%= link_to 'Apagar', usuario, :confirm => 'Tem certeza?', :method => :delete %></td>
	</tr>
<% end %>
</table>
