<h1>Buscar de Usuários</h1>
<br/>
<div dojoType="dijit.layout.TabContainer" style="width: 100%; height: 300px;"
tabStrip="true">
    <div dojoType="dijit.layout.ContentPane" title="Busca de Usuários" selected="true">
       <table width='400'>
            <tr> <th> Nome </th> <th> Login </th> </tr>
            <% @usuarios.each do |u|%>
                <tr>
                   <td> <%=  u.nome  %> </td>
                   <td> <%=  u.login %> </td>
                </tr>
            <% end %>
       </table>
    </div>   
</div>


<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/dojo/1.5/dojo/dojo.xd.js" djConfig="parseOnLoad: true"></script>
<script type="text/javascript">
    dojo.require("dijit.layout.TabContainer");
    dojo.require("dijit.layout.ContentPane");
</script>


