<p>
  <b>Motivo:</b>
  <%=h @motivo_notificacao.motivo %>
</p>

<p>
  <b>Descricao:</b>
  <%=h @motivo_notificacao.descricao %>
</p>


<%= link_to 'Edit', edit_motivo_notificacao_path(@motivo_notificacao) %> |
<%= link_to 'Back', motivo_notificacaos_path %>