<form method="post" action='<%= acao_form %>' style="width: 600px">
	<label for = 'periodo', class='label' style="width: 594px"><b>Período:</b>
		<%= text_field_tag :data_inicio, nil, :maxlength => 10, :size => 10 %>
		a
		<%= text_field_tag :data_fim, nil, :maxlength => 10, :size => 10 %>
  </label>
<div class="submit_bar"><%= submit_tag "Visualizar"%></div>
</form>		