<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!--
Copyright: Daemon Pty Limited 2006, http://www.daemon.com.au
Community: Mollio http://www.mollio.org $
License: Released Under the "Common Public License 1.0", 
http://www.opensource.org/licenses/cpl.php
License: Released Under the "Creative Commons License", 
http://creativecommons.org/licenses/by/2.5/
License: Released Under the "GNU Creative Commons License", 
http://creativecommons.org/licenses/GPL/2.0/
-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Sistema Nacional de Registro de Processos</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/mollio.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/stylesheets/print.css" media="print" />
<!--[if lte IE 6]>
<link rel="stylesheet" type="text/css" href="/stylesheets/ie6_or_less.css" />
<![endif]-->
<script type="text/javascript" src="/javascripts/common.js"></script>
</head>
<body id="type-b">
<div id="wrap">

	<div id="header">
		<div id="site-name">Sistema Nacional de Registro de Processos</div>
		<div id="search">
			
		</div>
		<%= render :partial => "menus/principal"%>
	</div>
	
	<div id="content-wrap">
	
        <% if logged_in? %>
		<div id="utility">
        <%= render :partial => session[:submenu] %>
		</div>
		<% end %>

		
		<div id="content">
			<%= yield %>
			
		</div>
		
		
	</div>
	
</div>
</body>
</html>
